<html>
  <head></head>
  <body>
    
    <p style="background-position:-<%= picture_shift.to_s %>px" height=200px width=75px background="http://dewana-dewan.github.io/Hangman-Game/man.png"></p>
    
  </body>
</html>